* {
  text-align: center;
}

body {
  background-color: #86BBD8;
  color: #F6AE2D;
}

h1 {
  font-family: 'Geo', sans-serif;
  font-style: italic;
  font-size: 5vw;
  background-color: #33658A;
  color: #F26419;
  margin: 10px auto;
  padding: 5px 5px;
  width: 20vw;
  border: 2px double #F6AE2D;
  border-radius: 10px;
}

h2 {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}

.auth {
  border: 1px solid red;
  /* display: block; */
  margin: auto;
  width: 50vw;
  background-color: #33658A;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F4858;
  border: 1px solid #F6AE2D;
}

.nav {
  float: left;
  display: block;
  color: #F6AE2D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav:hover {
  background-color: #9D6F1D;
}

@media screen and (max-width: 600px) {
  ul.nav li.right,
  ul.nav li {float: none;}
}
/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width:20%;
  display:flex;
    flex-direction: column;
  justify-content: space-between;

  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;

}
