/* * {
  text-align: center;
} */

body {
  background-color: #86BBD8;
  color: #F6AE2D;
}

h1 {
  font-family: 'Geo', sans-serif;
  font-style: italic;
  text-align: center;
  background-color: #33658A;
  color: #F26419;
  border: 2px double #F6AE2D;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  padding: 5px 0px 5px 0px;
}

div > h2 {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.logo {
  margin-top: 20px;
}

.card {
  border: 2px double #F6AE2D;
  margin: 10px auto;
  background-color: #33658A;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  border-radius: 12px;
  text-align: center;
  padding:10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #2F4858;
  border: 1px solid #F6AE2D;
  /* display: flex; */
/* //  justify-content: flex-end; */
}

.nav {
  float: left;
  display: block;
  color: #F6AE2D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-bottom: 0;
}

.nav:hover {
  background-color: #9D6F1D;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  ul.nav li.right,
  ul.nav li {float: none;}
}
/*
 */
 .transparentinput{
   background: transparent;
   border:none;
   outline: none;
   text-align: center;
 }
.inlineform{
  margin:0 0 -13px 0;

}
