<div ng-show="ctrl.showDetails">  
  <div ng-repeat="task in board.tasks track by task+$index">
    <form class="eight columns offset-by-two" ng-submit="ctrl.editTask(board,$index)">
      <span>{{task}}</span>
      <span ng-if="ctrl.indexOfEditTask!==task+$index || ctrl.editTaskbtn!==true">
        <button type="button" ng-click="ctrl.indexOfEditTask=task+$index;ctrl.editTaskbtn=true" class="button-primary">
          <span class="lnr lnr-pencil"></span>
        </button>
      </span>
      <input type="text" ng-if="(task+$index) === ctrl.indexOfEditTask" placeholder = {{task}} ng-model="ctrl.newupdateTaskName" />
      <button ng-if="ctrl.indexOfEditTask===(task+$index) && ctrl.editTaskbtn===true " class="button-primary" type="submit"><span class="lnr lnr-pencil"></span>
      </button>
      <button class="button-primary" ng-click="ctrl.deleteTask(board._id,$index)"><span class="lnr lnr-cross-circle"></span></button>
    </form>
  </div>
  <form class="eight columns offset-by-two" ng-submit="ctrl.createTask(board)">
    <span ng-if="ctrl.indexOfNewTaskfield===task+$index">
      <label for="newTaskName">New Task:</label>
      <input id="newTaskName" type="text" ng-model="ctrl.newTaskName">
      <input class="button-primary" type="submit" />
    </span>
    <span class="row" ng-click="ctrl.indexOfNewTaskfield=task+$index">
      <a class="button-primary" >+ Add New Task</a>
    </span>
    <button class="button-primary" ng-click='ctrl.deleteBoard(board)'>Delete Board</button>
  </form>
  <div class="row">
    <input type='text' placeholder='Search for User' ng-model='searchBox'>
    <select ng-model="ctrl.invitedUser" ng-options="user.username for user in ctrl.foundUsers | filter: searchBox">
      {{ctrl.invitedUser.username}}
    </select>
    <button class="button-primary" ng-click='ctrl.inviteUser(board, ctrl.invitedUser)'>
      Invite to board
    </button>
  </div> -->
  <!-- temporary spot for search/invite users to a board -Joe -->
  <label for='Search by'>
    <input type='text' placeholder='Search for User' ng-model='searchBox'>
  </label>
  <ul >
    <li ng-repeat="user in ctrl.foundUsers | filter: searchBox">
      {{user.username}} -
      <button ng-click='ctrl.inviteUser(board, user)'>
        Invite to board
      </button>
    </li>
  </ul>
=======
<div class="row">
  <h4 class="six columns offset-by-three"></h4>
</div>

<div class="row">
  <h2 class="six columns offset-by-three card" ng-init="ctrl.updateBoardName=ctrl.boards[ctrl.clickedBoardId].boardName">
    <span ng-dblclick="ctrl.editBoardValue=true">
      <span ng-if="ctrl.editBoardValue===false">
        {{ctrl.boards[ctrl.clickedBoardId].boardName}}
      </span>
      <input ng-model=ctrl.updateBoardName ng-keypress="($event.charCode===13)?ctrl.editBoardName(ctrl.boards[ctrl.clickedBoardId]._id):return" ng-disabled="!ctrl.editBoardValue" ng-if="ctrl.editBoardValue===true" class="transparentinput" />
    </span>
  </h2>
  <!-- just for spacing -->
  <div class="row">
    <h4 class="six columns offset-by-three"></h4>
  </div>
  <!-- Adding users to the board -->
  <div class="row">
    <div class="nine columns offset-by-three">
      <input type='text' placeholder='Search for User' ng-model='searchBox'>
      <select ng-model="ctrl.invitedUser" ng-options="user.username for user in ctrl.foundUsers | filter: searchBox">
        {{ctrl.invitedUser.username}}
      </select>
      <button class="button-primary" ng-click='ctrl.inviteUser(ctrl.boards[ctrl.clickedBoardId], ctrl.invitedUser)'>
        Invite to board
      </button>
    </div>
  </div>
  <!-- tasks population -->
  <div ng-repeat="task in ctrl.boards[ctrl.clickedBoardId].tasks">

    <form class="eight columns offset-by-two" ng-submit="ctrl.editTask(ctrl.boards[ctrl.clickedBoardId],$index)">
      <!-- having a seperate mock button as its submitting thevalue and trying to edit at the same time -->
      <span ng-if="ctrl.indexOfEditTask!==$index || ctrl.editTaskbtn!==true">
        <div class="eight columns offset-by-one">
          <span>{{task}}</span>
        </div>
        <button type="button" ng-click="ctrl.indexOfEditTask=$index;ctrl.editTaskbtn=true;ctrl.newupdateTaskName=task" class="button">
          <span class="lnr lnr-pencil"></span>
        </button>
      </span>
      <div class="eight columns offset-by-one">
        <input type="text" ng-if="$index === ctrl.indexOfEditTask" ng-model="ctrl.newupdateTaskName" class="u-full-width" />
        <!-- button to initiate the actual edit -->
      </div>
      <button ng-if="ctrl.indexOfEditTask===$index && ctrl.editTaskbtn===true " class="button" type="submit"><span class="lnr lnr-pencil"></span>
      </button>
      <button class="button" ng-click="ctrl.deleteTask(ctrl.boards[ctrl.clickedBoardId]._id,$index)"> <span class="lnr lnr-cross"></span>
      </button>
    </form>

  </div>

  <form class="eight columns offset-by-two" ng-submit="ctrl.createTask(ctrl.boards[ctrl.clickedBoardId])">
    <span ng-if="ctrl.addnewTaskClicked">
      <label for="newTaskName">New Task:</label>
      <input id="newTaskName" class="u-full-width" type="text" ng-model="ctrl.newTaskName">
      <input class="button-primary" type="submit" />
    </span>

    <span class="row" ng-if="!ctrl.addnewTaskClicked">
      <div class="nine columns offset-by-four">
      <a class="button button-primary" ng-click="ctrl.addnewTaskClicked=true" ">+ Add New Task</a>
      </div>
    </span>

    <div class=" row">
        <div class="nine columns offset-by-four">
          <button class="button-primary" ng-click='ctrl.deleteBoard(ctrl.boards[ctrl.clickedBoardId]);ctrl.boardPartialShow=false'>DELETE BOARD</button>
        </div>
</div>
</form>
</div>
