<form class="col-lg-4 card" ng-submit="ctrl.createBoard()">
  <label class="box" for="boardName">New Board Name:</label>
  <input class="box" type="text" id="boardName" placeholder="New Board" ng-model="ctrl.newBoardName"><br>
  <input type="submit" class="button-primary" value="Create Board">
  <button type="button" class="button-primary" ng-click="ctrl.getBoards()">Refresh Boards</button>
</form>
<div class="row around-lg">
  <div class="col-lg-2 card" ng-repeat="board in ctrl.boards">
    <div class="box">
      <h4><span ng-dblclick="ctrl.showDetailsToggle()">{{board.boardName}}</span></h4>
    </div>
  </div>
</div>

<!-- functions for editing board name. -->
<!-- <span ng-dblclick="ctrl.editBoardValue=false; ctrl.indexOfEditForm=$index">
  <span ng-if="ctrl.indexOfEditForm!==$index || ctrl.editBoardValue!=false"> -->

  <!-- </span> -->
  <!-- <input ng-model=ctrl.updateBoardName ng-keypress="($event.charCode===13)?ctrl.editBoardName(board._id):return" ng-disabled="ctrl.editBoardValue" ng-if="$index === ctrl.indexOfEditForm" class="transparentinput" /> -->
<!-- </span> -->
