<form class="eight columns offset-by-two card" ng-submit="ctrl.createBoard()">
  <label class="four columns offset-by-four" for="boardName">New Board Name:</label>
  <input class="eight columns offset-by-two" type="text" id="boardName" ng-model="ctrl.newBoardName">
  <input type="submit" class="five columns button-primary offset-by-one" value="Create Board">
  <button type="button" class="five columns button-primary" ng-click="ctrl.getBoards()">Refresh Boards</button>
</form>
<div class="ten columns offset-by-one card" ng-repeat="board in ctrl.boards">
  <div>
    <h2><span ng-dblclick="ctrl.detailsToggle()">{{board.boardName}}</span></h2>
     <ul ng-repeat="task in board.tasks track by task+$index">
      <li>{{task}}</li>
     <form ng-submit="ctrl.editTask(board,$index)">
        <input type="text" ng-model="ctrl.newupdateTaskName">
        <input type="submit" value="Update Task">
      </form> <button ng-click="ctrl.deleteTask(board._id,$index)">Delete Task</button>
      <!-- <li>{{board.assignedTo}}</li> -->
    </ul>
    <form class="eight columns offset-by-two" ng-submit="ctrl.createTask(board)">
      <label for="newTaskName">New Task:</label>
      <input id="newTaskName" type="text" ng-model="ctrl.newTaskName">
      <input class="button-primary" type="submit" value="New Task">
      <button class="button-primary" ng-click='ctrl.deleteBoard(board)'>Delete Board</button>
    </form>

<div class="row" >
  <label for='Search by'>
    <input type='text' placeholder='Search for User' ng-model='searchBox'>
  </label>
    <select ng-model="ctrl.invitedUser" ng-options="user.username for user in ctrl.foundUsers | filter: searchBox" >
      {{ctrl.invitedUser.username}}
    </select>
    <button class="button-primary" ng-click='ctrl.inviteUser(board, ctrl.invitedUser)'>
      Invite to board
    </button>
</div>
		<!-- temporary spot for search/invite users to a board -Joe -->
		<!-- <label for='Search by'>
			<input type='text' placeholder='Search for User' ng-model='searchBox'>
		</label>
		<ul >
    	<li ng-repeat="user in ctrl.foundUsers | filter: searchBox">
				{{user.username}} -
				<button ng-click='ctrl.inviteUser(board, user)'>
					Invite to board
				</button>
			</li>
		</ul> -->
  </div>
</div>
