<h2>Sign Up</h2>
<form class="col-lg-12 col-lg-offset-1" ng-submit="ctrl.signUp()">
  <label for="newUserUsername">Username:</label>
  <input id="newUserUsername" type="text" ng-model="ctrl.signupUsername">
  <label for="newUserPassword">Password:</label>
  <input id="newUserPassword" type="password" ng-model="ctrl.signupPassword"><br>
  <!-- <label for="newUserTeam">Team:</label>
  <input id="newUserTeam" type="text" ng-model="ctrl.signupTeam"> -->
  <!-- <label for="newUserBoards">Boards:</label>
  <input id="newUserBoards" type="text" ng-model="ctrl.boardsId"/> -->
  <button class="button-primary" type="button" ng-click="ctrl.signUpToggle = !ctrl.signUpToggle">Login</button>
  <input class="button-primary" type="submit" value="Sign Up">
</form>
